{% extends 'base.html.twig' %}
{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h1 class="box-title" >Geschaeftes list</h1>
        </div>
        <div class="box-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Bearbeiter</th>
                        <th>Actions</th>
                        <th>Kunde</th>
                    </tr>
                </thead>
                <tbody>
                    {% for geschaefte in geschaeftes %}
                        <tr>
                            <td><a href="{{ path('geschaefte_show', { 'geschaeftid': geschaefte.geschaeftid }) }}">{{ geschaefte.datum }}</a></td>
                            <td>{{ geschaefte.angelegtvon }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('geschaefte_show', { 'geschaeftid': geschaefte.geschaeftid }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('geschaefte_edit', { 'geschaeftid': geschaefte.geschaeftid }) }}">edit</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('kunde_show', { 'kundennr': geschaefte.kundennr }) }}">Kunde</a></th>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <ul>
                <li>
                    <a href="{{ path('geschaefte_new') }}">Create a new geschaefte</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
