{% extends 'base.html.twig' %}

{% block body %}
    <h1>Geschaefte</h1>

    <table>
        <tbody>
            <tr>
                <th>Geschaeftecol</th>
                <td>{{ geschaefte.geschaeftecol }}</td>
            </tr>
            <tr>
                <th>Datum</th>
                <td>{{ geschaefte.datum }}</td>
            </tr>
            <tr>
                <th>Geschaeftid</th>
                <td>{{ geschaefte.geschaeftid }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('geschaefte_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('geschaefte_edit', { 'geschaeftid': geschaefte.geschaeftid }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
