{% extends 'base.html.twig' %}

{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h1 class="box-title" >Geschaefte</h1>
        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <tbody>
            <tr>
                <th>Datum</th>
                <td>{{ geschaefte.datum }}</td>
            </tr>
            <tr>
                <th>Bearbeiter</th>
                <td>{{ geschaefte.angelegtvon }}</td>
            </tr>
            <tr>
                <th>Kunde</th>
                <th><a href="{{ path('kunde_show', { 'kundennr': geschaefte.kundennr }) }}">Kunde</a></th>
            </tr>
        </tbody>
                </table>
                <ul>
        <li>
            <a href="{{ path('geschaefte_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('geschaefte_edit', { 'geschaeftid': geschaefte.geschaeftid }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
        </div>
    </div>
{% endblock %}
