{% extends 'base.html.twig' %}

{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h1 class="box-title" >Kunde</h1>
        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Kundename</th>
                        <td>{{ kunde.kundename }}</td>
                    </tr>
                    <tr>
                        <th>Kundevorname</th>
                        <td>{{ kunde.kundevorname }}</td>
                    </tr>
                    <tr>
                        <th>Kundeadresse</th>
                        <td>{{ kunde.kundeadresse }}</td>
                    </tr>
                    <tr>
                        <th>Kundelieferhinweis</th>
                        <td>{{ kunde.kundelieferhinweis }}</td>
                    </tr>
                    <tr>
                        <th>Kundenr</th>
                        <td>{{ kunde.kundenr }}</td>
                    </tr>
                </tbody>
            </table>
            <ul>
                <li>
                    <a href="{{ path('kunde_index') }}" class="btn btn-block btn-info">Back to the list</a>
                </li>
                <li>
                    <a href="{{ path('kunde_edit', { 'kundenr': kunde.kundenr }) }}" class="btn btn-block btn-warning">Edit</a>
                </li>
                <li>
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete" class="btn btn-block btn-danger" style="margin-top: 6px">
                    {{ form_end(delete_form) }}
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
