{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mitarbeiters list</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Mitarbeiterid</th>                
                <th>Mitarbeitername</th>
                <th>Mitarbeitertelefon</th>
                <th>Mitarbeiteradresse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mitarbeiter in mitarbeiters %}
            <tr>
                <td><a href="{{ path('mitarbeiter_show', { 'mitarbeiterid': mitarbeiter.mitarbeiterid }) }}">{{ mitarbeiter.mitarbeiterid }}</a></td>
                <td>{{ mitarbeiter.mitarbeitervorname }} {{ mitarbeiter.mitarbeitername }}</td>
                <td>{{ mitarbeiter.mitarbeitertelefon }}</td>
                <td>{{ mitarbeiter.mitarbeiteradresse }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mitarbeiter_show', { 'mitarbeiterid': mitarbeiter.mitarbeiterid }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('mitarbeiter_edit', { 'mitarbeiterid': mitarbeiter.mitarbeiterid }) }}">edit</a>
                        </li>
                        <li>

                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mitarbeiter_new') }}">Create a new mitarbeiter</a>
        </li>
    </ul>
{% endblock %}
