{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mitarbeiter</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Mitarbeiterid</th>
                <td>{{ mitarbeiter.mitarbeiterid }}</td>
            </tr>
            <tr>
                <th>Mitarbeitername</th>
                <td>{{ mitarbeiter.mitarbeitervorname }} {{ mitarbeiter.mitarbeitername }}</td>
            </tr>
            <tr>
                <th>Mitarbeitertelefon</th>
                <td>{{ mitarbeiter.mitarbeitertelefon }}</td>
            </tr>
            <tr>
                <th>Mitarbeiteradresse</th>
                <td>{{ mitarbeiter.mitarbeiteradresse }}</td>
            </tr>
        </tbody>
    </table>

    
            <a href="{{ path('mitarbeiter_index') }}" class="btn btn-block btn-info">Back to the list</a>
       
       
            <a href="{{ path('mitarbeiter_edit', { 'mitarbeiterid': mitarbeiter.mitarbeiterid }) }}" class="btn btn-block btn-warning">Edit</a>
        
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-block btn-danger" style="margin-top: 6px;">
            {{ form_end(delete_form) }}
    
{% endblock %}
