{% extends 'base.html.twig' %}

{% block body %}

    <h1>Artikelliste</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Artikelbezeichnung</th>
                <th>Artikelpreis</th>
                <th>Artikelbestand</th>
                <th>Artikelnr</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for artikel in artikels %}
            <tr>
                <td><a href="{{ path('artikel_show', { 'artikelnr': artikel.artikelnr }) }}">{{ artikel.artikelbezeichnung }}</a></td>
                <td>{{ artikel.artikelpreis }}</td>
                <td>{{ artikel.artikelbestand }}</td>
                <td>{{ artikel.artikelnr }}</td>
                <td>
                    
                            <a href="{{ path('artikel_show', { 'artikelnr': artikel.artikelnr }) }}" class="btn btn-sm btn-info">show</a>
                        
                        
                            <a href="{{ path('artikel_edit', { 'artikelnr': artikel.artikelnr }) }}" class="btn btn-sm btn-warning">edit</a>
                   
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
            <a href="{{ path('artikel_new') }}" class="btn btn-success btn-block">Create a new artikel</a>

 

{% endblock %}
