{% extends 'base.html.twig' %}

{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h1 class="box-title" >Artikels list</h1>
        </div>
        <div class="box-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Artikelbezeichnung</th>
                        <th>Artikelpreis</th>
                        <th>Artikelbestand</th>
                        <th>Artikelnr</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for artikel in artikels %}
                        <tr>
                            <td><a href="{{ path('artikel_show', { 'artikelnr': artikel.artikelnr }) }}">{{ artikel.artikelbezeichnung }}</a></td>
                            <td>{{ artikel.artikelpreis }}</td>
                            <td>{{ artikel.artikelbestand }}</td>
                            <td>{{ artikel.artikelnr }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('artikel_show', { 'artikelnr': artikel.artikelnr }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('artikel_edit', { 'artikelnr': artikel.artikelnr }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <ul>
                <li>
                    <a href="{{ path('artikel_new') }}">Create a new artikel</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
