{% extends 'base.html.twig' %}

{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h1 class="box-title" >Artikelliste</h1>
        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Artikelbezeichnung</th>
                        <td>{{ artikel.artikelbezeichnung }}</td>
                    </tr>
                    <tr>
                        <th>Artikelpreis</th>
                        <td>{{ artikel.artikelpreis }}</td>
                    </tr>
                    <tr>
                        <th>Artikelbestand</th>
                        <td>{{ artikel.artikelbestand }}</td>
                    </tr>
                    <tr>
                        <th>Artikelnr</th>
                        <td>{{ artikel.artikelnr }}</td>
                    </tr>
                </tbody>
                </table>
                
                        <a href="{{ path('artikel_index') }}" class="btn btn-block btn-info" style="margin-top: 6px;">Back to the list</a>
                    
                        <a href="{{ path('artikel_edit', { 'artikelnr': artikel.artikelnr }) }}" class="btn btn-block btn-warning">Edit</a>
                    
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Delete" class="btn btn-block btn-danger" style="margin-top: 6px;">
                        {{ form_end(delete_form) }}
               
        </div>
    </div>
{% endblock %}
