{% extends 'base.html.twig' %}
{% block body %}
    <div class="box-header with-border">
        <h1 class="box-title" >Postenliste</h1>
    </div>
    <div class="box-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Artikelmenge</th>
                    <th>Postenid</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for posten in postens %}
                    <tr>
                        <td><a href="{{ path('posten_show', { 'postenid': posten.postenid }) }}">{{ posten.artikelmenge }}</a></td>
                        <td>{{ posten.postenid }}</td>
                        <td>
							<div class="btn-group" role="group">
                                    <a href="{{ path('posten_show', { 'postenid': posten.postenid }) }}" class="btn btn-sm btn-info">show</a>
                                
                                    <a href="{{ path('posten_edit', { 'postenid': posten.postenid }) }}" class="btn btn-sm btn-warning">edit</a>
                            </div>    
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
                <a href="{{ path('posten_new') }}" class="btn btn-block btn-success">Create a new posten</a>
   
    </div>
{% endblock %}

