{% extends 'base.html.twig' %}

{% block body %}
    <div class="box">
        <div class="box-header with-border">
            <h1 class="box-title" >Artikelmenge</h1>
        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Artikelmenge</th>
                        <td>{{ posten.artikelmenge }}</td>
                    </tr>
                    <tr>
                        <th>Postenid</th>
                        <td>{{ posten.postenid }}</td>
                    </tr>
                </tbody>
            </table>
           
                    <a href="{{ path('posten_index') }}" class="btn btn-block btn-info">Back to the list</a>
                
                    <a href="{{ path('posten_edit', { 'postenid': posten.postenid }) }}" class="btn btn-block btn-warning">Edit</a>
                
                    {{ form_start(delete_form) }}
                    <input type="submit" value="Delete" class="btn btn-block btn-danger" style="margin-top: 6px;">
                    {{ form_end(delete_form) }}
                
        </div>
    </div>
{% endblock %}
